@charset "utf-8";
@import url(lake_layout.css);
@font-face{
   font-family: 'cacChampagne';
   src : url('cac_champagne.ttf');
}

body {
   background-color: #cbcc8b;
}

header{
   background-color: #764a78;
}

section#rightcol{
   background-color: #582d5a;
}

section#leftcol{
   background-color: #1b1c14;
}

footer{
   background-color: #4d464e;
}

section#leftcol > h1 {
   font-family: cacChampagne;
   font-size: 360%;
   color: #ffffff;
   font-weight: 100;
}

header > nav a {
   text-decoration: none;
   color: #ffffff;
	font-family: sans-serif;
   opacity: 60%;
}

section#leftcol > p {
   font-family: sans-serif;
   color: #ffffff;
   font-weight: 100%;
   font-size: 16px;
   line-height: 150%;
}

#aside1 > h1, #aside2 > h1{
   font-family: sans-serif;
   color: #ffffff;
   opacity: 70%;
   font-size: 150%;
}

#aside1 > ul > li, #aside2 > h2, p{
   font-family: sans-serif;
   color: #ffffff;
   opacity: 70%;
}

#aside1 > ul > li > a, cite > a {
   text-decoration: line;
   color: #e253ef;
   
}


section#rightcol > nav > h2{
   font-family: cacChampagne;
   color: #ffffff;
   opacity: 70%;
   font-weight: unset;
   font-size: 30px;
   padding-left: 10px;
   padding-top: 5px;
   margin: 0;
}

section#rightcol > nav > ul {
   list-style-type: none;
   padding-left: 30px;
}
section#rightcol > nav > ul > li > a {
   font-family: sans-serif;
   text-decoration: none;
   color: #917692;
}


blockquote {
   margin: auto;
   padding: 15px;
   line-height: 150%;
 }

 blockquote > p {
   color: #e3caeb;
   font-family: 'Times New Roman', Times, serif;
   font-size: large;
 }
 
 blockquote p::before {
   font-family: 'Times New Roman', Times, serif;
   content: '\201C';
   position: relative;
   font-size: 3em;
   top: 10px;
 }
 
 blockquote p::after {
   font-family: 'Times New Roman', Times, serif;
   content: '\201D';
   position: relative;
   font-size: 3em;
   top: 10px;
 }

 footer{
   text-align: center;
   font-family: sans-serif;
   color: #ffffff;
   padding: 10px;
   font-weight: bold;
 }
